$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black-shadow: rgba(0,0,0,0.2); 
$color-grey-light-1: #f7f7f7; 

$max-width: 1080px;
$margin-right: 6rem;
$margin-bottom: 50px;
